<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
		<link rel="stylesheet" href="{f:uri.resource(path: '3/css/bootstrap.min.css', package: 'TYPO3.Twitter.Bootstrap')}" media="all" />
                <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap.css', package: 'tsv.schnait')}" media="all" />
                <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/jquery.fancybox.css', package: 'tsv.schnait')}" media="all" />
                <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/jquery.fancybox-buttons', package: 'tsv.schnait')}" media="all" />
                <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/jquery.fancybox-thumbs', package: 'tsv.schnait')}" media="all" />
                <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/jquery.fancybox-media', package: 'tsv.schnait')}" media="all" />
                <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Style.css', package: 'tsv.schnait')}" media="all" />
                
                  <f:if condition="{node.context.workspace.name} != 'live'">
                                  <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Backend.css', package: 'tsv.schnait')}" media="all" />
                  </f:if>
				<link rel="icon" href="{f:uri.resource(path: 'Images/favicon.gif', package: 'tsv.schnait')}" media="all">

         
	</f:section>
	<f:section name="headScripts">
		
	</f:section>
</head>
<body>
<f:section name="body">
    <div id = "wrapper">
        <div class="navigation">
            {parts.mainMenu -> f:format.raw()}
	</div>
        
        <div class="content">
            {parts.breadcrumb -> f:format.raw()}
            {content.main -> f:format.raw()}
	</div>
        
        <footer class ="footer">
		<div class="row">
                    <div class="col-sm-6" id="footerLinks">
                        <a href="/impressum.html">Impressum</a>
                    </div>
                    <div class="col-sm-6" id="footerRechts">
                        <a href="/">© Turn- und Sportverein Schnait 1911 e.V.</a>
                    </div>
		</div>
    
        </footer>
    </div>
</f:section>
<f:section name="bodyScripts">
        <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
        <script src="{f:uri.resource(path: 'JavaScript/jquery-1.10.2.js', package: 'tsv.schnait')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/jquery.fancybox.js', package: 'tsv.schnait')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/jquery.mousewheel-3.0.6.pack.js', package: 'tsv.schnait')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/jquery.fancybox-buttons.js', package: 'tsv.schnait')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/jquery.fancybox-thumbs.js', package: 'tsv.schnait')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/bootstrap.js', package: 'tsv.schnait')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/tsv.js', package: 'tsv.schnait')}"></script>
        

</f:section>
</body>
</html>
